
<div class="header" > 
  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse"> 
      
  
        
         
          <a class="nav-link" routerLink="placegiftcards" >Place gift cards</a>
          <a class="nav-link" routerLink="viewgiftcards" >View gift cards</a>
          <a class="nav-link" routerLink="contactus" >Contact Us</a>
          <!-- <a class="nav-link" routerLink="pipes">Pipes</a> -->
        
        
          
        
  
      
    </div>
  </nav>


</div>

<div class="container body-content app-container">
  <router-outlet></router-outlet>
</div>



<div class="fixed-footer">
  <div class="container">Copyright &copy; 2020 Akhil Bharadwaj</div>        
</div>

